# Environnements virtuels
venv/
.env/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurations spécifiques
*.DS_Store
*.log

# Streamlit
.streamlit/

# Notebooks
.ipynb_checkpoints/

# Autres fichiers temporaires
*.sqlite3
*.db
